  /* コイツがルート要素 */
.container {
  /* 水平方向の中央揃え */
  text-align: center;  
  /* 水平方向の中央揃え */
  font-size: 20px;
}


body {
  font-family: "Arial", "Meiryo",sans-serif;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  letter-spacing: 1.2em;
  text-shadow: 1px 2px 2px red;
  border-bottom: solid 3px rgb(115,115,114);
  
}

.sky-blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

#basic > p {
  font-weight: bold;
}
